<div class="outer">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-md-7">
				<div class="panel border bg-white">
					<div class="panel-heading">
						<h2 class="pt-3 font-weight-bold mt-2">Start the Service you Want!</h2>
					</div>
					<div class="panel-body p-3">
						<div class="card-container">
							<a class="card" routerLink="/autorska">
								<svg class="material-icons" xmlns="http://www.w3.org/2000/svg" style="margin-right: 8px;" width="24"
									height="24" viewBox="0 0 24 24">
									<path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z" />
								</svg>
								<span>Servis za autorska prava</span>
								<svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
									viewBox="0 0 24 24">
									<path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
								</svg> </a>

							<a class="card" routerLink="/patenti">
								<span class="material-symbols-outlined" style="margin-right: 8px;">
									engineering
								</span>
								<span>Servis za patente</span>
								<svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
									viewBox="0 0 24 24">
									<path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
								</svg>
							</a>

							<a class="card" routerLink="/zig">
								<!-- <span class="material-symbols-outlined" style="margin-right:  8px;">
									play_pass
								</span> -->
								<span class="material-symbols-outlined" style="margin-right: 8px;">
									engineering
								</span>
								<span>Servis za zigove</span>
								<svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
									viewBox="0 0 24 24">
									<path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
								</svg>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>