<div style="display: flex;">
    <h4>Podaci o Delu Prerade</h4>
</div>

<div *ngIf="isDeloPrerade()" [formGroup]="form" style="display: flex; justify-content: center; gap: 10vh;">
    <div>
        <div class="form-group mt-1" formGroupName="deloPrerade">
            <label>Naslov izvornog dela*</label>
            <input type="text" class="form-control" formControlName="naslovIzvornogDela">
        </div>

        <div class="form-group mt-1" formGroupName="deloPrerade">
            <label>Ime Autora*</label>
            <input type="text" class="form-control" formControlName="ime">
        </div>

        <div class="form-group mt-1" formGroupName="deloPrerade">
            <label>Prezime Autora*</label>
            <input type="text" class="form-control" formControlName="prezime">
        </div>

        <div class="form-group mt-1" formGroupName="deloPrerade">
            <label>Pseudonim</label>
            <input type="text" class="form-control" formControlName="pseudonim">
        </div>

        <div class="form-group mt-1" formGroupName="deloPrerade">
            <label>Godina smrti</label>
            <input type="number" class="form-control" formControlName="godinaSmrti">
        </div>
    </div>

</div>

<div *ngIf="!isDeloPrerade()" style="display: flex; justify-content: center;">
    <h5>Nije delo prerade, nastavite dalje</h5>
</div>
<br />
<div>
    <button type="button" class="btn btn-secondary" style="width: 50%; margin-left: 25%;"
        matStepperPrevious>Back</button>
    <button type="button" class="btn btn-primary" style="width: 50%; margin-left: 25%;" matStepperNext
        [disabled]="isNextDisabled()" (click)="next()">Finish</button>
</div>