<app-navbar></app-navbar>

<!-- Lista prethodnih zahteva -->
<div class="container mt-4">
	<h2>Zahtevi:</h2>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Broj prijave</th>
				<th>Vreme podnošenja</th>
				<th>Podnosilac</th>
				<th>Export</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let zahtev of zahtevi">
				<td>{{ zahtev['brojPrijave'] }}</td>
				<td>{{ zahtev['datumPodnosenja'] | date: 'dd/MM/yyyy'}}</td>
				<td>{{ zahtev['podnosilac'] }}</td>

				<td>
					<button class="btn btn-secondary m-2">JSON</button>
					<button class="btn btn-secondary m-2">PDF</button>
					<button class="btn btn-secondary m-2">HTML</button>

				</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- Dugme za novi zahtev -->
<div class="container text-center mt-4" *ngIf="getRole() === 'korisnik'">
	<button class="btn btn-primary" routerLink="/autorska/new">Novi zahtev</button>
</div>