<div class="panel-heading">
    <h2 class="pt-3 font-weight-bold mt-2">Login</h2>
  </div>
  <div class="panel-body p-3">
    <form [formGroup]="loginForm">
      <div class="form-group pt-3">
        <div class="input-field"
          [class.error]="loginForm.controls['email'].touched && loginForm.controls['email'].invalid">
          <span class="fa fa-user p-2"></span>
          <input id="emailLogin" formControlName="email" type="email" placeholder="Email">
        </div>
      </div>
      <small id="email-is-required" *ngIf="loginForm.controls['email'].touched && loginForm.hasError('required', 'email')"
        class="text-danger">
        *Email is required</small>
      <small id="invalid-email" *ngIf="loginForm.controls['email'].touched && loginForm.hasError('pattern', 'email')"
        class="text-danger">*Invalid email</small>
  
  
      <div class="form-group pt-3">
        <div class="input-field"
          [class.error]="loginForm.controls['password'].touched && loginForm.hasError('required', 'password')">
          <span class="fa fa-lock p-2"></span>
          <input id="passLogin" formControlName="password" type="{{type}}" placeholder="Password">
          <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
        </div>
      </div>
      <small id="password-is-required"
        *ngIf="loginForm.controls['password'].touched && loginForm.hasError('required', 'password')" class="text-danger">
        *Password is required</small>
  
      <button id="loginBtn" (click)="onLogin()" [disabled]="!loginForm.valid" type="submit"
        class="btn btn-primary btn-block mt-4 w-100">Login</button>
      <div class="text-center pt-4 text-muted">Don't have account? <a id="forget" routerLink="/signup">Sign
          Up</a></div>
    </form>
  </div>